*{
    margin: 0;
    padding: 0;
}

.seccion1{
    background-color: rgb(27,111,122);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid black;
    
}

.seccion2{
    background-color: rgb(16,35,83);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid black;
}

.seccion3{
    background-color: rgb(16,48,89);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: white;
    border: 1px solid black;
    padding-bottom: 50px;
}